<RSpec name="vini">
    <sfatables-input>
        <rule>
            <argument>
                <name>max-link-bandwidth</name>
                <value>1000001</value>
            </argument>
        </rule>
    </sfatables-input>

        <Request>
            <NetSpec name="default_topology">
                <LinkSpec>
                    <endpoint>i2atla1</endpoint>
                    <endpoint>i2chic1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2atla1</endpoint>
                    <endpoint>i2hous1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2atla1</endpoint>
                    <endpoint>i2wash1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2chic1</endpoint>
                    <endpoint>i2kans1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2chic1</endpoint>
                    <endpoint>i2wash1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2hous1</endpoint>
                    <endpoint>i2kans1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2hous1</endpoint>
                    <endpoint>i2losa1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2kans1</endpoint>
                    <endpoint>i2salt1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2losa1</endpoint>
                    <endpoint>i2salt1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2losa1</endpoint>
                    <endpoint>i2seat1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2newy1</endpoint>
                    <endpoint>i2wash1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
                <LinkSpec>
                    <endpoint>i2salt1</endpoint>
                    <endpoint>i2seat1</endpoint>
                    <bw>1000000</bw>
                </LinkSpec>
            </NetSpec>
        </Request>
    </RSpec>
